/* @import './normalize.css'; */

/* :root=>获取根元素 */
 
:root{
  --color-text:#666;
  --color-high-text:#ff5777;
  /* tintColor:背景色 */
  --color-tint: #ff8198;
  --font-size: 14px;
  --line-height:1.5;
  --large-size:50px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arical,sans-serif;
  /*禁止用户在页面上选中文字/图片*/
  user-select: none;
  /* -webkit-tap-highlight-color: transparent; */
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color黑色，颜色用数值调节 */
  /* background: var(--color-high-text); */
  color: var(--color-text);
  /* rem vw//vh */
  width: 100vw;
}
a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after{
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clearfix{
  zoom:1
}
.arrow-right{
  width: 9px;
  height: 9px;
  display: inline-block;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  transform: rotate(135deg);
  margin-left: .1rem;
}
.arrow-left{
  width: 9px;
  height: 9px;
  display: inline-block;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  /* transform: rotate(135deg); */
  margin-left: .1rem;
}
.circle-img>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.relative{
  position: relative;
}